/*Centre la page*/
    #page-wrap {
        width: 97%;
        margin: 0 auto;
    }

    header{
        width: 100%;
        color: dodgerblue;
        background-color:dodgerblue;
    }

.imghead{
width: 500px;
height: default;
}


/*menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/*survol*/
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/*page actuelle*/
.topnav a.active {
    background-color: dodgerblue;
    color: white;
}
/*menu responsive*/
@media screen and (max-width: 900px) {
        .topnav {
        width: 100%;
        height: auto;
        position: relative;
    }
    .topnav a {
        float: left;
        padding: 15px;
    }
}

section{
    width: 100%;
}

h2{
border-left: 6px solid dodgerblue;
background-color: lightblue;
}

.cote {
    background-color: aliceblue;
    float:left;
    text-align:center;
}

.last {
    background-color: aliceblue;
    float:left;
    text-align:center;
}

